version: '3.4'
services:
  database:
    build:
      context: ../
      dockerfile: docker/configs/Dockerfile.db
      args:
        DATABASE_PORT: ${DATABASE_PORT}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 5s
      retries: 10
    networks:
      games-network:
        ipv4_address: ${DATABASE_IP}
    profiles:
      - full
      - backend
      - database

  server:
    build:
      context: ../
      args:
        SERVER_PORT_HTTP: ${SERVER_PORT_HTTP}
        SERVER_PORT_WS: ${SERVER_PORT_WS}
    environment:
      DATABASE_IP: ${DATABASE_IP}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_PASSWORD_SALT: ${DATABASE_PASSWORD_SALT}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      SERVER_PORT_HTTP: ${SERVER_PORT_HTTP}
      SERVER_PORT_WS: ${SERVER_PORT_WS}
    ports:
      - ${SERVER_PORT_HTTP}:${SERVER_PORT_HTTP}
      - ${SERVER_PORT_WS}:${SERVER_PORT_WS}
    depends_on:
      database:
        condition: service_healthy
    networks:
      games-network:
        ipv4_address: ${SERVER_IP}
    profiles:
      - full
      - backend

  client:
    build:
      context: ../
      args:
        NGINX_PORT: ${NGINX_PORT}
    environment:
      NGINX_PORT: ${NGINX_PORT}
      SERVER_PORT_WS: ${SERVER_PORT_WS}
      SERVER_IP: ${SERVER_IP}
      SERVER_HOST_HTTP: ${SERVER_HOST_HTTP}
      SERVER_HOST_WS: ${SERVER_HOST_WS}
    ports:
      - ${NGINX_PORT}:${NGINX_PORT}
    networks:
      games-network:
        ipv4_address: ${CLIENT_IP}
    profiles:
      - full
      - client